<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
  integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <nav class="navbar navbar-dark bg-inverse" >
    <div class="container"  >
        <a class="navbar-brand">NICOBAR</a>
        <ul class="nav navbar-nav" Active="active">
            <li class="nav-item"><a>NEW</a></li>
            <li class="nav-item"><a>WOMEN</a></li>
            <li class="nav-item"><a>MEN</a></li>
            <li class="nav-item"><a>HOME</a></li>
            <li class="nav-item"><a>TRAVEL</a></li>
            <li class="nav-item"><a>THE GIFT SHOP</a></li>
            <li class="nav-item"><a>STORE</a></li>
            <li class="nav-item"><a>NICO-JOURNAL</a></li>
            <li class="nav-item"><a><i class="fas fa-angle-down"></i><span>INR</span></a></li>
            <li class="nav-item"><a><i class="fas fa-search"></i></a></li>
            <li class="nav-item"><a><i class="fas fa-shopping-cart"></i></a></li>
            <li class="nav-item"><a><i class="far fa-user"></i></a></li>
             
        </ul>
    </div>
</nav>


